<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>--- DaVita Standard ---</string>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Post Test</string>
		<key>Path</key>
		<string>Combined_Test.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Quiz</string>
		<key>Path</key>
		<string>Combined_Quiz.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Simulation</string>
		<key>Path</key>
		<string>Combined_Simulation.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Standard</string>
		<key>Path</key>
		<string>Combined_TextLesson.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Welcome</string>
		<key>Path</key>
		<string>Combined_Welcome.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Overview</string>
		<key>Path</key>
		<string>Combined_Overview.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>--- Clinical Education ---</string>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Opening</string>
		<key>Path</key>
		<string>Clined_Opening.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Closing</string>
		<key>Path</key>
		<string>Clined_Closing.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
	<dict>
		<key>Application</key>
		<string>Standard</string>
		<key>Name</key>
		<string>Text Lesson</string>
		<key>Path</key>
		<string>Clined_TextLesson.fla</string>
		<key>Type</key>
		<string>Default</string>
	</dict>
</array>
</plist>
